body {
    background-color: #c5e1a5;
    font-family: 'Roboto', sans-serif;
}
#navbar{
       font-family: 'Caveat', cursive;
}
#Logo{
    font-family: 'Big Shoulders Display', cursive;
}
#que-hacemos{
    margin-top: 10px;
}
#como-ayudarnos{
    margin-top: 100px;
}

.parallax-container {
    height: 205px;
  }