body {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}
#navbar{
       font-family: 'Caveat', cursive;
}
#Logo{
    font-family: 'Big Shoulders Display', cursive;
}
#que-hacemos{
    margin-top: 10px;
}
#como-ayudarnos{
    margin-top: 0px;
}

.parallax-container {
    height: 150px;
  }